.card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  height: auto;
  background-color: #ffffff;
  border: 1px solid #d3d3d3;
  padding: 22px;
  border-radius: 20px;
  background-image: linear-gradient(0deg, transparent 21px, #e7e7e7 22px),
    linear-gradient(90deg, transparent 21px, #e7e7e7 22px);
  background-size: 22px 22px;
  background-repeat: repeat;
}
.chkbox {
  -moz-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  margin: 4px;
}

.select_box {
  background: var(--secondary-color);
  width: 60px;
  border-radius: 3px;
  position: relative;
  z-index: 1;
  border: 1px solid var(--primary-color);
  display: flex;
  justify-content: start;
  padding-left: 4px;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
}

.select_box::after {
  position: absolute;
  content: '';
  width: 8px;
  height: 8px;
  right: 10px;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  border-bottom: 2px solid var(--primary-color);
  border-right: 2px solid var(--primary-color);
  z-index: -1;
}

.amount {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 12px;
  color: var(--primary-color);
  font-weight: 700;
  font-size: 20px;
}

.quantity {
  padding: 16px;
  background-color: #e4e4e4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quantity_input {
  margin-left: 6px;
  background-color: #ffffff;
  border: 1px solid #d3d3d3;
  width: 58px;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 22px;
}

.image {
  width: 100%;
  height: 200px;
  border-radius: 20px;
  height: auto;
  margin: 0 auto;
  object-fit: cover;
}

@media screen and (min-width: 767px) {
  .image {
    height: 600px;
  }
}

.title {
  font-size: 12px;
  font-weight: 700;
  color: var(--primary-color);
}

.content {
  padding-left: 4px;
  font-size: 12px;
  font-weight: 400;
  color: var(--primary-color);
}
