.modal {
  z-index: 9999;
  width: 80%;
  height: 68vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 6px;
  margin: 0 auto;
  border: 1px solid var(--black-color);
  box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 12px;
  font-weight: 700;
  color: #4a4a4a;
  text-align: center;
}

.button {
  width: 80%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: linear-gradient(269.59deg, #23acf7 0.36%, #5dc2f9 26.76%, #6aeaec 68.68%, #74fbcf 99.73%),
    linear-gradient(
      90deg,
      rgba(98, 255, 189, 0.572917) 0%,
      rgba(88, 235, 232, 0.802346) 15.62%,
      #3abdef 59.9%,
      #21aaf8 100%
    );
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
}
