.container {
  position: relative;
  width: 323px;
  height: 539px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: var(--secondary-color);
  border-radius: 3px;
  padding: 32px 18px;
  margin-top: 20px;
  border: 1px solid var(--black-color);
  box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.1);
  touch-action: pan-x;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.image {
  position: relative;
  width: 290px;
  height: 80%;
  background-position: center;
  background-size: cover;
}
.status {
  position: absolute;
  top: 30%;
  left: 38%;
  z-index: 100;
  gap: 5px;
  margin: 0 auto;
}

.status_circle {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.status_text {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: var(--secondary-color);
}

.image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0.5;
}

.title_container {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 24px;
  font-weight: 400;
  font-family: 'AsagoHonmaruGothic-R';
  color: var(--secondary-color);
}

.date {
  font-size: 14px;
  font-weight: 400;
  font-family: 'AsagoHonmaruGothic-R';
  color: var(--secondary-color);
}

.link {
  width: 120px;
  height: 26px;
  padding: 4px;
  border-radius: 20px;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  font-size: 12px;
  gap: 2px;
}

.text {
  font-size: 16px;
}

.circles {
  position: absolute;
  top: 10px;
  left: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #d9d9d9;
}

.infomations {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: start;
  color: var(--primary-color);
  width: 100%;
}

.info {
  font-size: 16px;
  font-weight: 700;
  width: 80px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4px;
  border-right: 1px solid var(--primary-color);
  padding-right: 0 10px;
}
