.categoryheadline {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.categoryheadline div:first-of-type {
  flex-basis: 70%;
}

.eventTag {
  margin-left: -16px !important;
}

.more p {
  color: #6093ce;
  font-family: Noto Sans JP;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 0.5rem;
  /* 57.143% */
  letter-spacing: -0.03125rem;
}

.more:hover {
  cursor: pointer;
}

.more p:hover {
  font-weight: bold;
}
