.cardcontainer {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}
.center {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .cardcontainer {
    justify-content: center;
  }
}
