.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 10rem;
  height: 14.375rem;
  min-height: 8rem;
  background-color: lightgrey;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
}

.cardimage {
  position: relative;
  flex-basis: 60%;
  min-height: 100px;
  width: 100%;
}

.firstContent,
.secondContent {
  width: 100%;
  text-align: center;
}

.secondContent {
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.attendees {
  display: flex;
  justify-content: center;
}
.cardTitle {
  margin-top: 0;
  color: #4a4a4a;
  font-family: Noto Sans JP;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 0.5rem;
  /* 66.667% */
  letter-spacing: -0.03125rem;
}
.cardDate {
  color: #4a4a4a;
  font-family: Noto Sans JP;
  font-size: 0.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 0.5rem;
  /* 80% */
  letter-spacing: -0.03125rem;
}
.cardAttendees {
  color: #4a4a4a;
  font-family: Noto Sans JP;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 0.5rem;
  /* 80% */
  letter-spacing: -0.03125rem;
}

.cardAttendeesCount {
  color: #4a4a4a;
  font-family: Noto Sans JP;
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: 0.5rem;
  /* 80% */
  letter-spacing: -0.03125rem;
  margin: auto 0.25rem;
}
