.searchbar {
  display: flex;
  flex-direction: column;
}

.searchbytext {
  margin-top: 1rem;
  display: flex;
}

.keyword {
  width: 80%;
  height: 1.875rem;
  margin: 0 auto;
  border-radius: 1.25rem;
  background: #fff;
  padding-left: 0.7rem;
  font-family: Noto Sans JP;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 0.5rem;
  letter-spacing: -0.03125rem;
}

.button {
  height: 1.875rem;
  width: 20%;
  border-radius: 0px 3px 3px 0px;
  background: #494949;
  color: #fff;
  font-family: Noto Sans JP;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 8px;
  /* 66.667% */
  letter-spacing: -0.5px;
}

.searchothers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 0.5rem;
}

.searchotherschild {
  display: flex;
  flex-direction: row;
  height: 32px;
  margin-right: 0.5rem;
  border-radius: 6.25rem;
  border: 1px solid #d9d9d9;
  text-align: center;
  line-height: auto;
  padding: 0.2rem;
}

.prefectureName {
  text-align: center;
  color: #4a4a4a;
  font-family: Noto Sans JP;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 0.5rem;
  /* 66.667% */
  letter-spacing: -0.03125rem;
}

/* media query */
@media (min-width: 768px) {
  .searchbytext {
    width: 50%;
    align-self: center;
  }
  .searchothers {
    width: 50%;
    justify-content: center;
    align-self: center;
  }
}
