.searchbar {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.searchbytext {
  margin: 2rem;
}

.searchbytext input {
  width: 80%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin: 0 auto;
}

.searchbytext button {
  height: 30px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin: 0 auto;
}

.searchothers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 2rem;
  margin-top: 0;
}

.searchotherschild {
  display: flex;
  flex-direction: row;
  margin: 0;
  border-radius: 6.25rem;
  border: 1px solid #d9d9d9;
  margin-right: 4rem;
  padding: 0.5rem;
}
