.searchbar {
  display: flex;
  flex-direction: column;
}

.searchbytext {
  margin-top: 1rem;
  display: flex;
}

.keyword {
  width: 85%;
  height: 1.875rem;
  margin: 0 auto;
  border: 1px solid #9b9b9b;
  border-radius: 1.25rem 0rem 0rem 1.25rem;
  background: #fff;
  padding-left: 0.7rem;
  color: #a1bbda;
  font-family: Noto Sans JP;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 0.5rem;
  letter-spacing: -0.03125rem;
}
.keyword::placeholder {
  color: #a1bbda;
  font-family: Noto Sans JP;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 0.5rem;
  letter-spacing: -0.03125rem;
}

.button {
  height: 1.875rem;
  width: 15%;
  text-align: center;
  line-height: 1.875rem;
  border-radius: 0rem 1.25rem 1.25rem 0rem;
  border: 1px solid #9b9b9b;
  border-left: 0;
  background: linear-gradient(45deg, #0affde 0%, #3ecaf6 46.88%, #587cfc 100%);
}

.searchothers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 0.5rem;
}

.searchotherschild {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  height: 2rem;
  margin-right: 0.5rem;
  border-radius: 6.25rem;
  border: 1px solid #9b9b9b;
  text-align: center;
  line-height: auto;
  padding: 0 0.5rem;
  background-color: #fff;
}
.selectBox {
  color: #13519a;
  font-family: Noto Sans JP;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.03125rem;
}

.arrowIcon {
  width: 1rem;
  height: 1rem;
  line-height: 2rem;
}

/* media query */
@media (min-width: 768px) {
  .searchbytext {
    width: 50%;
    align-self: center;
  }
  .searchothers {
    width: 50%;
    justify-content: center;
    align-self: center;
  }
}
