.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 10.5rem;
  border-radius: 0.1875rem;
  background: #fff;
  margin-top: 0.5rem !important;
}

.image {
  position: relative;
  width: 13.25rem;
  height: 4.8125rem;
}

.buttonContainer {
  width: 8.1875rem;
  height: 2.1875rem;
  border-radius: 2.5rem;
  background: linear-gradient(90deg, #5bead2 0%, #5fdae7 24.67%, #3ec1ee 62.5%, #25adf6 100%), #fff;
  /* border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(45deg, #0AFFDE 0%, #3ECAF6 46.88%, #587CFC 100%); */
}

.start {
  text-decoration: none;
  color: #fff;
  font-family: Noto Sans JP;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 900;
  line-height: 0.5rem;
  /* 61.538% */
  letter-spacing: -0.03125rem;
}

/* media query */
@media (min-width: 768px) {
  .container {
    margin: 0 auto;
  }
  .image {
    position: relative;
    width: 15rem;
    height: 6rem;
  }
}
