.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 10.5rem;
  border-radius: 0.1875rem;
  background: #fff;
  margin-top: 0.5rem !important;
}

.title {
  color: #13519a;
  font-family: sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.03125rem;
}

.title2 {
  color: #13519a;
  font-family: Sahitya;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  /* line-height: 0.5rem; */
  /* 40% */
  letter-spacing: -0.03125rem;
}

.buttonContainer {
  width: 8.1875rem;
  height: 2.1875rem;
  border-radius: 2.5rem;
  border-color: linear-gradient(#21aaf8, #62ffbd92, #58ebe8cd, #3abdef);
  background: #fff;
}

.start {
  color: #4a4a4a;
  font-family: Sahitya;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 8px;
  /* 57.143% */
  letter-spacing: -0.5px;
  text-decoration: none;
}

/* media query */
@media (min-width: 768px) {
  .container {
    width: 50%;
    margin: 0 auto;
  }
}
