.menus {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 84px;
  width: 100%;
  margin-top: 16px;
}

.circle {
  width: 50px;
  height: 50px;
  padding: 2px;
  border-radius: 50%;
  background-color: #9b9b9b;
  display: flex;
  justify-content: center;
  align-items: center;
}
