.menus {
  z-index: 9999;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 84px;
  width: 100%;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #9b9b9b;
  display: flex;
  justify-content: center;
  align-items: center;
}
