:root {
  --primary-color: #13519a;
  --secondary-color: #ffffff;
  --black-color: #9b9b9b9b;
  --deep-black-color: #4a4a4a;
  --light-primary-color: #5192fa;
  --light-primary-color-2: #aef4f8;
  --light-primary-color-3: #3abdef;
  font-family: 'Notosans';
}

@font-face {
  font-family: 'AsagoHonmaruGothic-R';
  src: url('/fonts/asago-mini.otf');
  font-family: 'PankijiKana';
  src: url('/fonts/PANKIJI_KANA-Line.otf');
  font-family: 'Notosans';
  src: url('/fonts/NotoSansJP-Regular.ttf');
}
