:root {
  --primary-color: #13519a;
  --secondary-color: #ffffff;
  --black-color: #9b9b9b9b;
  --deep-black-color: #4a4a4a;
}

@font-face {
  font-family: 'AsagoHonmaruGothic-R';
  src: url('/fonts/asago-mini.otf');
  font-family: 'PankijiKana';
  src: url('/fonts/PANKIJI_KANA-Line.otf');
}
