.bg {
  background: #feffd9;
}
.container {
  padding-bottom: 2rem;
}
.container > div {
  margin: 0 1.0625rem;
}

@media (min-width: 768px) {
  .container > div {
    margin: 0 10%;
  }
}

@media (min-width: 1024px) {
  .container > div {
    margin: 0 15%;
  }
}
