.content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  padding: 38px;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
}

.question {
  margin-top: 40px;
  width: 100%;
}

.navigation {
  position: absolute;
  top: 650px;

  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.navigation2 {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
