.content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  padding: 36px 16px;
  min-height: 100vh;
  overflow-x: hidden;
}

.question {
  margin-top: 40px;
  width: 100%;
}

.navigation {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
