.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.input_date {
  width: 70%;
  height: 84px;
  padding: 6px;
  background-color: #ffffffff;
}

.text {
  font-size: 14px;
  font-weight: 500;
  color: #4a4a4a;
}
