.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 24px;
}

.image_container {
  margin-top: 34px;
  display: flex;
  gap: 16px;
  justify-content: start;
  align-items: center;
  overflow-x: auto;
}

.image {
  min-width: 76px;
  height: 76px;
  border-radius: 3px;
  background-size: contain;
  background-repeat: no-repeat;
}

.content {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.hr {
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;
  margin-top: 16px;
}

.input_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.input_title_container {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.input_title_label {
  font-size: 15px;
  font-weight: 700;
  color: #4f4f4f;
}

.input_title {
  width: 100%;
  height: 50px;
  border-radius: 3px;
  border: 1px solid #bdbdbd;
  background-color: #ffffffff;
  padding: 0 16px;
}

.description {
  width: 100%;
  height: 260px;
  background-color: #ffffffff;
  border-radius: 2px;
  border: 1px solid #bdbdbd;
  padding: 16px;
}

.sub_input_container {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  gap: 8px;
}

.sub_input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  width: 100%;
}

.sub_inputs {
  width: 64px;
  text-align: left;
}

.hr_sub {
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;
  margin-top: 8px;
}

.return_button {
  margin-top: 50px;
  width: 200px;
  height: 42px;
  border-radius: 3px;
  background-color: #bdbdbd;
  color: #ffffff;
  font-size: 6px;
}

.submit_contianer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.submit_button {
  margin-top: 144px;
  width: 126px;
  height: 42px;
  border-radius: 3px;
  background-color: #bdbdbd;
  color: #ffffff;
}
