.card {
  width: 120px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #d9d9d9d9;
  border-radius: 20px;
}

.card_title {
  font-size: 14px;
  font-weight: 700;
  color: #9b9b9b;
}

.container {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 14px 2px;
}
