.cards {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}

.card {
  width: 160px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #d9d9d9d9;
  border-radius: 20px;
  background-color: #ffffff;
  text-align: center;
}

.card_title {
  font-size: 20px;
  font-weight: 700;
  color: #4a4a4a;
}
