.input_box {
  position: relative;
  border-radius: 50px;
  width: 100%;
  height: 150px;
  display: flex;
  padding: 6px;
  background-position: center;
}

.input {
  width: 100%;
  height: 90%;
  padding: 6px;
  text-align: center;
}

.input::placeholder {
  color: var(--primary-color);
}

.input_container {
  width: 100%;
  margin-top: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}
