.card {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: auto;
    min-height: 10rem;
    background-color: lightgrey;
    margin-bottom: 1rem;
}

.cardimage {
    position: relative;
    height: auto;
    min-height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardcontent {
    margin: 0 auto;
}

.content {
    margin: 0;
    padding: 0;
}