.hash_tag {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: var(--primary-color);
  border: var(--primary-color) 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.event_tag {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  /* padding: 1.75rem; */
  padding: 1.75rem 0 0 1.75rem;
  padding-right: 0;
}

.title {
  color: var(--primary-color);
  font-family: Noto Sans JP;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 0.5rem;
  letter-spacing: -0.03125rem;
}
