.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  /* padding: 0 1.0625rem; */
}

.link {
  font-size: 0.75rem;
}

.link:hover {
  font-weight: bold;
}

.logo {
  position: relative;
  width: 50%;
  height: 2.375rem;
  margin: 0 auto;
}
.navigationLarge {
  display: none;
}
.userButton {
  display: flex;
  justify-content: center;
  width: 50%;
}

/* --- media query --- */
@media (min-width: 768px) {
  .header {
    margin-top: 1.5rem;
    border-bottom: 0.7px solid #d3d3d3;
  }
  .logo {
    display: flex;
    justify-content: center;
    position: relative;
    width: 25%;
    height: 3rem;
    margin: 0;
  }
  .navigationLarge {
    display: block;
    flex-basis: 45%;
  }
  .navigationSmall {
    display: none;
  }
  .userButton {
    width: 25%;
  }
}
