.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 6px;
  height: 48px;
  width: 100%;
  background: #f1f1f1;
}

.link {
  font-size: 0.75rem;
}

.link:hover {
  font-weight: bold;
}

.logo {
  height: 30px;
  flex-basis: 30%;
  margin: 0.5rem 1rem;
  width: 100%;
}

.login {
  height: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  margin: 0;
  margin-right: 1rem;
  text-align: center;
}

.link {
  text-decoration: none;
  color: black;
}

.userButton {
  display: flex;
  justify-content: flex-end;
}
