/* --- info container --- */
.eventinfocontainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem;
}
.eventinfocontainer > div {
  margin: 0.625rem 0;
}
/* ----- start of specific styling -----   */
/* --- main event image ---  */
.maineventimage {
  position: relative;
  margin: 0 auto;
  margin-bottom: 0.5rem;
  width: 100%;
  height: 16rem;
  max-width: 480px;
}
.imagethumbnailscontainer {
  display: flex;
  justify-content: space-around;
}
.imagethumbnails {
  position: relative;
  background-color: black;
  width: 6rem;
  height: 6rem;
  background-size: contain;
  overflow: hidden;
  margin: 0 0.25rem;
  cursor: pointer;
}
/* --- end of event image --- */
.eventtitle h1 {
  color: #13519a;
  font-family: Noto Sans JP;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 900;
  line-height: 0.5rem;
  /* 33.333% */
  letter-spacing: -0.03125rem;
}

/*  --- eventhost styling ---  */
.eventhost {
  display: flex;
  height: 3rem;
  line-height: 3rem;
}
.imagecontainer {
  position: relative;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  overflow: hidden;
}
.eventhostname p {
  text-align: center;
  padding: 0 1rem;
  color: #13519a;
  font-family: Noto Sans JP;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  /* 66.667% */
  letter-spacing: 0.09375rem;
}

/* --- start of eventdate ---  */
.eventDate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 4.375rem;
}
.eventDateTitle {
  color: #13519a;
  text-align: center;
  font-family: Noto Sans JP;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500; /* 57.143% */
  letter-spacing: -0.03125rem;
}
.eventDateSE {
  color: #13519a;
  font-family: Helvetica;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  /* 50% */
  letter-spacing: -0.03125rem;
}

/* --- event extra info ---  */
.eventExtraInfo {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.eventExtraInfo > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 4.375rem;
}
.eventExtraInfo > div > p {
  color: #13519a;
}
.icon {
  fill: #13519a;
  align-self: center;
}
.border {
  width: 2px;
  height: 80%;
  background: #13519a;
}
.eventContentContainer {
  align-self: center;
  width: 20.1875rem;
  height: 24.125rem;
  border-radius: 1.6875rem;
  border: 1px solid #9b9b9b;
  background: #fff;
  box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.1);
}
.eventContentTitle {
  text-align: center;
  margin-top: 2.62rem;
  margin-bottom: 2rem;
  color: #13519a;
  font-family: Noto Sans JP;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 0.5rem;
  /* 57.143% */
  letter-spacing: -0.03125rem;
}
.eventContent {
  margin: 0 1rem;
  color: #13519a;
  font-family: Noto Sans JP;
  font-size: 0.6875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 0.9375rem;
  /* 136.364% */
  letter-spacing: -0.03125rem;
}
