.footerContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
  background: #fff;
  border-top: 1px solid #9b9b9b;
}

.heart {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  box-shadow: 0px 0px 6px 0px #00000040;
  border: 2px solid #9b9b9b03;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttonContainer {
  width: 8.1875rem;
  height: 2.1875rem;
  border-radius: 2.5rem;
  background: linear-gradient(269.59deg, #23acf7 0.36%, #5dc2f9 26.76%, #6aeaec 68.68%, #74fbcf 99.73%),
    linear-gradient(
      90deg,
      rgba(98, 255, 189, 0.572917) 0%,
      rgba(88, 235, 232, 0.802346) 15.62%,
      #3abdef 59.9%,
      #21aaf8 100%
    );

  text-align: center;
}
.attend,
.support {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 900;
  line-height: 2.1875rem;
  /* 61.538% */
  letter-spacing: -0.03125rem;
}
