/* --- info container --- */
.eventinfocontainer {
    background-color: #F1F1F1;
    display: flex; 
    flex-direction: column; 
    margin: 0 auto;
}
.eventinfocontainer > div {
    background-color: #FFF;
    width: 80%;
    margin: 0.625rem auto;
}
/* ----- start of specific styling -----   */
/* --- main event image ---  */
.maineventimage {
    position: relative; 
    margin: 0 auto; 
    margin-bottom: 0.5rem;
    width: 100%; 
    height: 16rem; 
    max-width: 480px; 
}
.imagethumbnailscontainer {
    display: flex;
    justify-content: space-around;
    background: #F1F1F1 !important; 
}
.imagethumbnails {
    position: relative;
    width: 10rem; 
    height: 4rem; 
    overflow: hidden;
    margin: 0 0.25rem; 
    cursor: pointer;
}
/* --- end of event image --- */
.eventtitle {
    background-color: #F1F1F1 !important; /*override background-color:*/
    height: 3.375rem;
    line-height: 3.375rem;
}
.eventtitle h1 {
    color: #4A4A4A;
    font-family: Noto sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    text-align: center;
}

/*  --- eventhost styling ---  */
.eventhost {
    background-color: #F1F1F1 !important; /*override background-color:*/
    display: flex;
    height: 3rem; 
    line-height: 3rem;
}
.imagecontainer {
    position: relative;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    overflow: hidden;
}
.eventhostname {
    background: white;
    line-height: auto; 
    margin-left: 1rem;
}
.eventhostname p {
    text-align: center;
    padding: 0 1rem; 
}

/* --- start of eventdate ---  */
.eventDate {
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    height: 4.375rem;
}
.eventDate p {
    text-align: center;
}
.eventDateTitle {
    color: #4A4A4A;
    font-family: Noto Sans JP;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 8px;
    letter-spacing: -0.5px;
    margin-bottom: 1rem;
}
.eventDateSE {
    color: #4A4A4A;
    font-family: Noto Sans JP;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 8px;
    /* 50% */
    letter-spacing: -0.5px;
}

/* --- event extra info ---  */
.eventExtraInfo {
    display: flex; 
    justify-content: space-evenly;
    height: 84px;
}
.eventExtraInfo > div {
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    height: 4.375rem;
}
.icon {
    align-self: center;
}
.border {
    width: 2px; 
    background: #D3D3D3;
    height: 80%; 
    margin: auto 0; 
}

/* --- event content ---  */
.eventContentContainer {
    background-color: #F1F1F1 !important; /*override background-color:*/
}
.eventContentTitle {
    color: #4A4A4A;
    font-family: Noto Sans JP;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 8px;
    letter-spacing: -0.5px;
    margin-bottom: 1rem;
}
.eventContent {
    color: #4A4A4A;
    font-family: Noto Sans JP;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    /* 136.364% */
    letter-spacing: -0.5px;
}
