.navigations {
  display: flex;
  width: 100%;
}

.navigation {
  width: 50%;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.7px solid #d3d3d3;
  color: #4a4a4a;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
}
