.navigations {
  display: flex;
  width: 100%;
}

.navigation {
  width: 50%;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.7px solid #d3d3d3;
  cursor: pointer;
  text-decoration: none;
  color: #13519a;
  font-family: Noto Sans JP;
  font-size: 0.7rem;
  font-style: normal;
  font-weight: 700;
  line-height: 0.5rem;
  /* 66.667% */
  letter-spacing: -0.03125rem;
}

/* --- media query --- */
@media (min-width: 768px) {
  .navigation {
    border: none;
  }
  .navigation > p {
    font-size: 0.75rem;
  }
}
