.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.subtitle {
  color: #4a4a4a;
  font-family: Sahitya;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
}

.title {
  color: #4a4a4a;
  font-family: Sahitya;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}

.buttonContainer {
  width: 8.1875rem;
  height: 2.1875rem;
  border-radius: 2.5rem;
  background: #9b9b9b;
  margin-bottom: 10rem;
}

.button {
  color: #fff;
  font-family: Sahitya;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 8px;
  letter-spacing: -0.5px;
  text-decoration: none;
}
