.container {
  padding: 36px 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  gap: 18px;
}

.button_container {
  margin-top: 46px;
}
