.container {
  padding-top: 230px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  overflow-x: hidden;
  gap: 200px;
}

.description {
  position: relative;
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 32px;
}

.title {
  font-size: 36px;
  font-weight: 700;
  color: var(--primary-color);
  font-family: 'PankijiKana';
}

.subtitle {
  font-size: 13px;
  font-weight: 700;
  color: var(--primary-color);
}

.star {
  position: absolute;
  top: 250px;
  right: 30px;
}

.star2 {
  position: absolute;
  top: 420px;
  left: 35px;
}

.bar_right {
  position: absolute;
  top: 2px;
  right: -30px;
}

.bar_left {
  position: absolute;
  top: 0px;
  left: -40px;
}
